
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Background */
body {
 
    justify-content: center;
    align-items: center;
    height: 10px;
}

/* Login Container */
.login-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    width: 350px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

/* Input Group */
.input-group {
    margin: 15px 0;
    text-align: left;
    position: relative;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

/* Show Password Icon */
.toggle-password {
    position: absolute;
    top: 38px;
    right: 10px;
    cursor: pointer;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: red;

    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: darkred;
}

/* Register Link */
.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: yellow;
    text-decoration: none;
}